{% extends 'base.html' %}
{% load static %}

{% block main_content %}
<br>
<br>
    <div class="container">
       <h2 class="text-center text-dark">
        <br>
           Acerca de Mí
       </h2>
       <br>
       <div class="row g-4">
            <div class="">
               <div class="card bg-secondary">
                    <div class="card-body text-center">
                    <h3 class="card-title mb-3">Tomás Aquili</h3>
                    <a class='text-center; text-dark' href="https://github.com/Motianox/ProyectoFinalAquili">Link del proyecto<i class="bi bi-github text-dark mx-1"></i></a>
                    </div>
               </div>
            </div>
            <div class="col">
            <div class="">
                 <div class="text-center">
                    <p>¡Hola! mi nombre es Tomás Aquili, tengo diecisiete años y, por lo tanto, curso mi último año de secundaria. Me interesé en un curso de Python que me trajo hasta este punto. Con los conocimientos que adquirí y seguiré adquiriendo, he sido capaz de realizar esta web. La considero, independientemente de su belleza o grandeza técnica, un importante logro para mi joven carrera profesional; dediqué en ella tiempo, esfuerzo y pasión. Otorgo mis agradecimientos a CoderHouse, a mi profesor Sergio, a mis tutores Ignacio y Bárbara y a toda la comisón que me acopañó en este proceso.</p>
                 </div>
            </div>
        </div>
       </div>
    </div>
    <br>
    <br>
    <br>
    <br>
{% endblock main_content %}